<!–– ok on this happy happy page we want to list the meetings I'm a part of ––>
<!–– and ideally have a button to go to the "make new meeting" page––>
<html>
    <head>
        <title>Busy Bee</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Meetings</a></h1>
        </div>
        {% for meeting in meetings %}
            <div>
                <h2><a href="">{{ meeting.title }}</a></h2>
                <p>{{ meeting.description|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>